* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
}

.container {
    width: 400px;
    height: 300px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404c4b+0,34373a+100 */
    background: #404c4b; /* Old browsers */
    background: -moz-linear-gradient(top, #404c4b 0%, #34373a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #404c4b 0%,#34373a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #404c4b 0%,#34373a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404c4b', endColorstr='#34373a',GradientType=0 ); /* IE6-9 */
    margin: 15% auto 0 auto;
    color: white;
    border-radius: 5px;
}

/* index.php styles */

h1, h2 {
    text-align: center;
    font-size: 3rem;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid white;
}

label {
    text-indent: -10000px;
    height: 0;
}

input {
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 2rem;
}

label, input {
    display: block;
    width: 50%;
    margin: 2% auto 0 auto;
}

input[type='text'] {
    background-image: url(../images/user.png);
    background-position: 5px center;
    background-repeat: no-repeat;
}

input[type='password'] {
    background-image: url(../images/pass.png);
    background-position: 5px center;
    background-repeat: no-repeat;
}

input[type='submit'] {
    width: 25%;
    background-color: #008000;
    border-radius: 7px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

input[type='submit']:hover {
    background: #079607;
    cursor: pointer;
}

p#log-error {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5px;
}

p {
    font-size: 2rem;
    text-align: center;
    padding: 2%;
}


a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-top: 55px;
}

a:hover {
    color: gray;
}

